# Streams, Pipes, and Redirection

1. What is streams?
2. How does it work?
3. Power of operating streams

## Terminal Streams:
Input >> Command >> Output

## Pipe (" | "): 
passing standard output of one program to the standard input to another program

In [9]:
!ls

Bill.csv
MSDS610-Week2-LinkedIn.pdf
MSDS610-Week3-Resume.pdf
Streams:pipes:redirection in the terminal.pdf
USF_Career_Services_Presentation.pdf
Untitled.ipynb
YoliWu_msds610-01.key
bill_unpaid1.csv
bill_unpaid2.csv
split_num.py

In [8]:
!ls | wc

      10      13     228

## Input/Output Direction ("<" or ">"):
hook process standard input/output to a file

In [12]:
!head -5 Bill.csv > bill_shortcut.csv
!cat bill_shortcut.csv

﻿Name,Bill,Time,Pay
Jams,20,16-Jul,paid
Connie,30,30-Jul,paid
David,20,1-Aug,paid
Jim,30,20-Aug,paid

In [13]:
!sort < bill_shortcut.csv

Connie,30,30-Jul,paid
David,20,1-Aug,paid
Jams,20,16-Jul,paid
Jim,30,20-Aug,paid
﻿Name,Bill,Time,Pay

## Append:
redirect and append output of a program to a file

In [15]:
!grep Wei Bill.csv >> bill_shortcut.csv
!cat bill_shortcut.csv

﻿Name,Bill,Time,Pay
Jams,20,16-Jul,paid
Connie,30,30-Jul,paid
David,20,1-Aug,paid
Jim,30,20-Aug,paid
Wei,20,10-Sep,unpaid
Wei,30,12-Sep,unpaid
Wei,20,15-Sep,unpaid
Wei,30,17-Sep,unpaid
Wei,20,20-Sep,unpaid

## More complex in reality:

In [23]:
!csvcut -c 1 -e latin1 Bill.csv | tail +2 | sort | uniq

Connie
David
Jams
Jim
Wei

## Power of operating streams:

In [4]:
# Data processing in python.
import pandas as pd

df = pd.read_csv('Bill.csv')
df = df [df['Pay']=='unpaid']
df = df.iloc[0:5]
df.to_csv('bill_unpaid1.csv',sep='\t',index=False)
df

  Name  Bill    Time     Pay
4  Wei    20  10-Sep  unpaid
5  Wei    30  12-Sep  unpaid
6  Wei    20  15-Sep  unpaid
7  Wei    30  17-Sep  unpaid
8  Wei    20  20-Sep  unpaid

In [7]:
# Using streams and I/O redirection.
!grep 'unpaid' Bill.csv | head -5 > bill_unpaid2.csv
!cat 'bill_unpaid2.csv'

Wei,20,10-Sep,unpaid
Wei,30,12-Sep,unpaid
Wei,20,15-Sep,unpaid
Wei,30,17-Sep,unpaid
Wei,20,20-Sep,unpaid

In [1]:
# Even in more complicated case, we still just need one line.
!csvcut -c 1 -e latin1 Bill.csv |tail +2 |tr 'A-Z' 'a-z'| uniq -c |sort -r -n

   5 wei
   1 jim
   1 jams
   1 david
   1 connie